# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Ray\Documents\HUST\_StudyData\3下\JAVA\作业\commit\U201814755-CS1804-彭子晨-第7次作业\ch19\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
